html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  padding: 10px 10px;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

a {
  color: #fff;
  text-decoration: none; }

header, main, footer {
  max-width: 1280px;
  margin: 0 auto; }

main {
  background: #000;
  padding: 0 20px; }

img {
  max-width: 100%; }

header {
  display: flex;
  flex-flow: column wrap; }

nav {
  width: 100%;
  z-index: 999;
  max-width: 1280px;
  max-height: 48px; }
  nav .menu {
    border-bottom: 3px solid #fff;
    width: 75%;
    background: black;
    flex-direction: row;
    display: flex;
    height: 3em;
    line-height: 3;
    padding: 0 20px;
    justify-content: space-between;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75); }
  nav a {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; }

aside {
  max-width: 25%;
  display: none; }

aside > div {
  flex: 1 0 auto;
  background-position: center;
  background-size: cover; }

.posts {
  width: 999px;
  max-width: 100%;
  flex-grow: 1; }

body {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #fff; }

h2 {
  font-size: 2.2em; }

h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; }

.bg {
  background: url(img/raster.png) center repeat, url(img/bg.jpg) center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9999; }

.post-container aside {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-right: 10px; }
  .post-container aside > div {
    position: relative; }
  .post-container aside h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px; }
.post-container:nth-of-type(1) aside {
  padding-top: 57px; }

article header {
  position: relative; }
article h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(120, 50, 150, 0.5);
  padding: 10px; }
article h3 {
  bottom: 0; }
article article p {
  font-size: 1.5em; }

.post {
  border-bottom: 3px solid #fff; }
  .post .info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 0;
    margin: 0 0 15px 0; }
  .post p {
    font-size: 1.5em; }

.cover-image img {
  display: block; }

.cover-video iframe {
  display: flex; }

@media only screen { }

/* Define mobile styles */
@media only screen and (max-width: 40em) { }

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) {
  body {
    padding: 10px 0; }
  .big-logo {
    padding: 57px 0; }
  main > div {
    display: flex;
    flex-flow: row-reverse wrap; }
  nav {
    display: flex;
    z-index: 10; }
  div.cube {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 300ms;
    -moz-transition: -moz-transform 300ms;
    -o-transition: -o-transform 300ms;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    max-width: 320px;
    height: 105px;
    /* position: absolute; */
    -webkit-transform: translateZ(0) rotateX(0deg);
    -moz-transform: translateZ(0) rotateX(0deg);
    -o-transform: translateZ(0) rotateX(0deg);
    transform: translateZ(0) rotateX(0deg); }
  .face {
    background: #000;
    padding: 20px;
    height: 105px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75); }
  div.networks.face {
    -webkit-transform: translateZ(52px);
    -moz-transform: translateZ(52px);
    -o-transform: translateZ(52px);
    transform: translateZ(52px); }
  div.logo.face {
    -webkit-transform: translateZ(-52px);
    -moz-transform: rotateX(-90deg) translateZ(-52px);
    -o-transform: rotateX(-90deg) translateZ(-52px);
    transform: rotateX(-90deg) translateZ(-52px); }
  .is-sticky .cube {
    -webkit-transform: translateZ(0) rotateX(90deg);
    -moz-transform: translateZ(0) rotateX(90deg);
    -o-transform: translateZ(0) rotateX(90deg);
    transform: translateZ(0) rotateX(90deg); }
  nav#nav:hover .cube {
    -webkit-transform: translateZ(0) rotateX(0deg);
    -moz-transform: translateZ(0) rotateX(0deg);
    -o-transform: translateZ(0) rotateX(0deg);
    transform: translateZ(0) rotateX(0deg); }
  .posts {
    max-width: 75%;
    padding-left: 10px; }
  .big-post {
    max-width: 100%; } }

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) { }

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { }

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) { }

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 120.063em) { }

/* min-width 1921px, xlarge screens */